<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <title>トモリ珈琲</title>
  </head>
  <body>
    <%= link_to root_path, class: 'order-btn' do %>
      <span class='order-btn-text'>出品する</span>
      <%= image_tag 'watermark.jpg', class: "order-btn-icon" %>
    <% end %>

    <footer>
    </footer>
  </body>
</html>

