<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
  </head>
  <body>
    <%= link_to root_path, class: 'order-btn' do %>
      <span class='order-btn-text'>出品する</span>
      <%= image_tag "watermark.jpg", class: "order-btn-icon" %>
    <% end %>
    <footer class="footers">
    </footer>
  </body>
</html>

