<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
  </head>
  <body>
    <div class="comments">
      <section>
        <div id="home_img">
          <%= image_tag "2148824.jpg", :size =>"250x250", class: "image" %>
          <title>【トモリ珈琲フランチャイズオーナー募集】コーヒーが好きな方、カフェオーナーになりませんか？" </title>
        </div>
      </section>
      <section>
        <h2>珈琲文化の創造と、街の資産となる店づくりを目指して。</h2>
        <div>トモリ珈琲のフランチャイズシステムはシステムを提供するだけではありません。</div>
        オーナーと一緒に考えて地域NO.1のコーヒーショップづくりを目指していきます。</p>
      </section>
      <section>
        <div class="type">
          <h2>トモリ珈琲のフランチャイズ契約</h2>
          <div class="type_desc">トモリ珈琲では２つの契約タイプを<br>ご用意しております</div>
          <div class="type_box">
            <div class="type_item">
              <div class="type_item_title">通常契約</div>
              <div class="type_item_desc">物件や設備を準備する従来の契約</div>
              <div class="type_item_for">物件を所有している方<br>資産運用を行いたい方</div>
              <div class="type_item_link"><a class="change_bg" href="">詳しくはこちら</a></div>
            </div>
            <div class="type_item">
              <h2>BFL（ビジネス・ファシリティーリース）</h2>
              <div class="type_item_desc">既存の直営店舗を丸ごとリース</div>
              <div class="type_item_for">イニシャルコストを抑えたい方<br>飲食店 店舗経験のある方</div>
              <div class="type_item_link"><a class="change_bg" href="">詳しくはこちら</a></div>
            </div>
          </div>
        </div>
      </section>
  　　 <%= link_to new_owner_path, class: 'order-btn' do %>
        <span class='order-btn-text'>出品する</span>
        <%= image_tag "watermark.jpg", class: "order-btn-icon" %>
      <% end %>
    </div>
    <footer class="footers">
    </footer>
  </body>
</html> 


