<!DOCTYPE html>
<html lang="ja">
  <head>
  </head>
  <body>
    <div class="comments">
      <section>
        <h2>トモリ珈琲　本店</h2>
        <p>店舗前に珈琲のオブジェがあります。ご来店心よりお待ちしております。</p>
        <%= image_tag "0900808.jpg", :size =>"200x200", class:"image" %>
        <h2>店舗情報</h2>
        <table class="ta1">
          <caption>〇〇駅から徒歩7分。</caption>
          <tr>
          <th>所在地</th>
          <td>〒13○-123○　〇〇都〇〇区〇〇町1-1-1</td>
          </tr>
          <tr>
          <th>電話番号</th>
          <td>03-3○35-1○12</td>
          </tr>
          <tr>
          <th>定休日</th>
          <td>水曜日</td>
          </tr>
          <tr>
          <th>営業時間</th>
          <td>09:00〜18:00</td>
          </tr>
          <tr>
          <th>駐車場</th>
          <td>無し</td>
          </tr>
          <tr>
          <th>席数</th>
          <td>75席</td>
          </tr>
        </table>
      </section>
    </div>
    <footer>
    </footer>
  </body>
</html>