<!DOCTYPE html>
<html lang="ja">
  <head>
  </head>
    <body>
      <div class="comments">
        <section>
          <h2>About</h2>
          <p>このサイトの説明ページです。</p>
          <h2>tableサンプル</h2>
          <table class="ta1">
            <caption>見出しが必要であればここを使います</caption>
            <tr>
            <th>見出し</th>
            <td>ここに説明など入れて下さい。サンプルテキスト。</td>
            </tr>
            <tr>
            <th>見出し</th>
            <td>ここに説明など入れて下さい。サンプルテキスト。</td>
            </tr>
            <tr>
            <th>見出し</th>
            <td>ここに説明など入れて下さい。サンプルテキスト。</td>
            </tr>
            <tr>
            <th>見出し</th>
            <td>ここに説明など入れて下さい。サンプルテキスト。</td>
            </tr>
            <tr>
            <th>見出し</th>
            <td>ここに説明など入れて下さい。サンプルテキスト。</td>
            </tr>
            <tr>
            <th>見出し</th>
            <td>ここに説明など入れて下さい。サンプルテキスト。</td>
            </tr>
          </table>
        </section>
      </div>
    </body>
  <footer>
  </footer>
</html>