<html>
 <head>
    <title>トモリ珈琲</title>
  </head>
  <body>
    

    <div class="contents">
      <div class="first-view">
        <%= image_tag "cafe1.jpg", class:"top-image" %>
      </div>
      <div class="upper-content">
        <h2 class="heading-name">新着情報</h2>
        <ul class="messages">
          <li class="message">
            <div class="message-date">2021/2/05</div>
            <div>【新規オープン記念】<b>10％OFF</b>キャンペーン</div>
          </li>
          <li class="message">
            <div class="message-date">2021/2/03</div>
            <div>うれしい<b>ポイントアップキャンペーン</b></div>
          </li>
          <li class="message">
            <div class="message-date">2021/2/03</div>
            <div>自家焙煎珈琲豆<b>キリマンジャロ産、コロンビア産入荷</b></div>
          </li>
        </ul>
      </div>
      <div class="middle-content">
        <h2 class="heading-name">ギャラリー</h2>
        <ul class="product-list">
          <li>
            <%= image_tag "98767_s.jpg", class:"product-image" %>
            <h4 class="product-name">直営工場</h4>
          </li>
          <li>
            <%= image_tag "155001_s.jpg", class:"product-image" %>
            <h4 class="product-name">厳選豆</h4>
          </li>
          <li>
            <%= image_tag "1613526_s.jpg", class:"product-image" %>
            <h4 class="product-name">直営農園</h4>
          </li>
        </ul>
      </div>

      <div class="bottom-content">
        <form class="contact-form">
          <h2 class="heading-name">メールでお問い合わせ</h2>
          <input type="text" placeholder="name" class="small-field">
          <input type="text" placeholder="e-mail" class="small-field">
          <textarea placeholder="message" class="large-field"></textarea>
          <input type="submit" value="SEND" class="send">
        </form>
      </div>

    </div>


    </footer>
  </body>
</html>