<html>
 <head>
    <title>トモリ　珈琲</title>
  </head>
  <body>
    <header>
      <div class="heading">
        <h1 class="title">トモリ珈琲 online shop</h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <li>店舗ガイド</li>
          <li>メニュー</li>
          <li>アクセス</li>
          <li>ログイン</li>
          <li>ログアウト</li>
        </ul>
      </div>
    </header>

    <div class="contents">
      <div class="first-view">
        <%= image_tag "cafe1.jpg", class:"top-image" %>
      </div>
      <div class="upper-content">
        <h2 class="heading-name">新着情報</h2>
        <ul class="messages">
          <li class="message">
            <div class="message-date">2021/2/06</div>
            <div>【新規のお客さま限定】<b>10％OFF</b>キャンペーン</div>
          </li>
          <li class="message">
            <div class="message-date">2021/2/03</div>
            <div>うれしい<b>ポイントアップキャンペーン</b></div>
          </li>
        </ul>
      </div>
      <div class="middle-content">
        <h2 class="heading-name">スタッフ紹介</h2>
        <ul class="staff-list">
          <li>
            <%= image_tag "3418554_s.jpg", class:"staff-image" %>
            <h4 class="staff-name">鈴木</h4>
          </li>
          <li>
            <%= image_tag "3708631_s.jpg", class:"staff-image" %>
            <h4 class="staff-name">佐藤</h4>
          </li>
          <li>
            <%= image_tag "1555178_s.jpg", class:"staff-image" %>
            <h4 class="staff-name">看板犬</h4>
          </li>
        </ul>
      </div>

      <div class="bottom-content">
        <form class="contact-form">
          <h2 class="heading-name">メールでお問い合わせ</h2>
          <input type="text" placeholder="name" class="small-field">
          <input type="text" placeholder="e-mail" class="small-field">
          <textarea placeholder="message" class="large-field"></textarea>
          <input type="submit" value="SEND" class="send">
        </form>
      </div>

    </div>

    <footer>
    <p>Copyright(C) トモリ　珈琲 ALL RIGHTS RESERVED.</p>
    </footer>
  </body>
</html>