<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name"viewport" content="width=device-width,initial-scale=1">
  <title>トモリ百貨店</title>
  <meta name="description" content="トモリ珈琲店は、皆さんの為の珈琲。日常を満喫する為の珈琲オンラインショップです." >
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no">
  <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
</head>
<body>

</body>
</html>