<!DOCTYPE html>
<html lang="ja">
<html>
  <section class="wrapper">
    <div class="container ">
      <div class="content">
        <h2 class="headings">ABOUT US</h2>
        <div class="list">
          <div class="list-item">
            <%= image_tag "1219729.jpg", class:"image" %>
            <div class="text">都内にある小さなカフェ、トモリ珈琲。ともりは、これからくる未来への灯り、心の灯り。その先に広がる、あらゆる可能性を秘めて。</div>
          </div>
          <div class="list-item">
            <%= image_tag "656488.jpg", class:"image" %>
            <div class="text">トモリ珈琲の周辺は緑がいっぱい。この場所を通じたご縁から、根を張り、枝を伸ばし、葉をつけ、花を咲かせ、実をつけるように、</div>
          </div>    
          <div class="list-item">
            <%= image_tag "552306.jpg", class:"image" %>
            <div class="text">皆様とともに成長して行けたらいいと思っています。本日は、お越し下さり有難う御座います。どうぞ、ごゆっくりご覧下さい。</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</html>