<!DOCTYPE html>
<html lang="ja">
  <head>
  </head>
  <body>
    <div class="header b">
      <h1>灯り街</h1>
      <p>
      日本の小さなカフェ、トモリ珈琲。
      </p>
      <p>
      ともりは、これからくる未来の灯り。その先に広がる、あらゆる可能性を秘めて。
      </p>
    </div>
      <img src=".jpg" alt="">
      <div class="mokuji">
        <ul>
          <div>トモリ珈琲について</div>
        </ul>
      </div>
      
      <div class="contents">
        <p>
          トモリ珈琲の周辺は美しい運河が多い街で特徴的な建物が並んだ風景が印象的です。
        </p>
        <p>
          寒い季節になると凍った運河の上を滑って遊ぶこともあるようです。
        </p>
        <p>
          オリンピックのスピードスケートで緑区の選手が常に上位にいるのもこれのおかげかもしれないですね！！
        </p>
      </div>
      <div class="circle">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="contents">
        <%= image_tag '1219729.jpg' %>
        <p>
          この場所を通じたご縁から、根を張り、枝を伸ばし、葉をつけ
        </p>
        <p>
          花を咲かせ、実をつけるように自然とその形をなしていけたらないいなと思っています。
        </p>
        <p>
          お越しくださり、ありがとうございます。
        </p>
      </div>
      
      
    </div>
  </body>
</html>