<!DOCTYPE html>
<html lang="ja">
  <head>
  </head>
  <body>
    <section class="wrapper">
      <div class="containers ">
        <div class="content">
          <h2 class="headings">ABOUT US</h2>
          <div class="list">
            <div class="list-item">
              <%= image_tag "1219729.jpg", class:"image" %>
              <div class="text">都内にある小さなカフェ、トモリ珈琲。ともりは、これからくる未来への灯り、心の灯り。その先に広がる、あらゆる可能性を求めて。</div>
            </div>
            <div class="list-item">
              <%= image_tag "656488.jpg", class:"image" %>
              <div class="text">トモリ珈琲の周辺は緑がいっぱい。この場所を通じたご縁から、根を張り、枝を伸ばし、葉をつけ、花を咲かせ、実をつけていけるように、</div>
            </div>    
            <div class="list-item">
              <%= image_tag "552306.jpg", class:"image" %>
              <div class="text">皆様と共に成長して行けたらいいと思っております。本日は、お越し頂き有難う御座います。どうぞ、ごゆっくりご覧下さい。</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
    </footer>
  </body>
</html>