<section class="wrapper">
  <div class="containers ">
    <div class="content">
      <h2 class="headings">ABOUT US</h2>
      <div class="list">
        <div class="list-item">
          <%= image_tag "1219729.jpg", class:"image" %>
          <div class="text">自家農園から採れた厳選したコーヒー豆を使用。コクと深みのある味を実現する為製法にこだわっています。フレッシュな美味しさをお楽しみ下さい。</div>
        </div>
        <div class="list-item">
          <%= image_tag "656488.jpg", class:"image" %>
          <div class="text">トモリ珈琲の周辺は緑がいっぱい。この場所を通じたご縁から、根を張り、枝を伸ばし、葉をつけ、花を咲かせ、実をつけていけるように、</div>
        </div>    
        <div class="list-item">
          <%= image_tag "552306.jpg", class:"image" %>
          <div class="text">スタッフ一同、皆様と共に成長して行きたいと思っております。本日はお忙しい中お越し頂き有難う御座います。どうぞごゆっくりご覧下さい。</div>
        </div>
      </div>
    </div>
  </div>
</section>