<!DOCTYPE html>
<html lang="ja">
<head>
  <title>トモリ珈琲</title>
</head>
<body>
 
<header class="header">
</header>
<div class="main-wrap">
  <main class="main">
    <article class="article-card">
      <a href="" class="article-link">
        <div class="article-head">
          <img src="html.jpg" alt="" class="article-img">
        </div>
        <div class="article-foot">
          <h2 class="article-title">
            オンラインショップ
          </h2>
        </div>
      </a>
    </article>
    <article class="article-card">
      <a href="" class="article-link">
        <div class="article-head">
          <img src="sample.jpg" alt="" class="article-img">
        </div>
        <div class="article-foot">
          <h2 class="article-title">
            オンラインショップ
          </h2>
        </div>
      </a>
    </article>
    <article class="article-card">
      <a href="" class="article-link">
        <div class="article-head">
          <img src="html.jpg" alt="" class="article-img">
        </div>
        <div class="article-foot">
          <h2 class="article-title">
            オンラインショップ
          </h2>
        </div>
      </a>
    </article>
    <article class="article-card">
      <a href="" class="article-link">
        <div class="article-head">
          <img src="html.jpg" alt="" class="article-img">
        </div>
        <div class="article-foot">
          <h2 class="article-title">
            オンラインショップ
          </h2>
        </div>
      </a>
    </article>
 
  </main>
 
  <aside class="sidebar-container">
  </aside>
</div>
<footer class="footer">
</footer>
 
</body>
</html>
